.wrap {
    background: #f2f2f2;
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    .bg{
        width:100%;
        height: 484px; 
        background: url("../../image/join/join_1920x484.png"); 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%; 
        margin-bottom: 10px;
        .inside{           
            width: 960px;
            .title{
                padding-left: 140px;
                font-size: 60px;
                color: #fff;
            }
        }
    }
    .content{
        width:100%;
        .inside{
            width: 960px;
            font-size: 20px;
            color: #333;
            line-height: 30px;
            .way{
                border: 1px solid #ddd;
                background: #fff;
                margin-bottom: 10px;
                min-height: 96px;
                padding: 0px 30px;
                .way_l{
                    color: #999;
                    font-size:24px;
                }
                .way_r{
                    color: #333;
                    font-size:24px;
                }
            }
        }
    }
}
