body{
    min-width: 1202px;
}
.wrap {
    background: #f2f2f2;
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    .bg{
        width:100%;
        height: 484px; 
        background: url("../../image/protect/protect_1920x484.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        .inside{           
            width: 960px;
            .title{
                padding-left: 140px;
                font-size: 60px;
                color: #fff;
            }
        }
    }
    .content{
        width:100%;
        .inside{
            width: 1202px;
            font-size: 20px;
            color: #333;
            line-height: 30px;
            margin-top: 32px;
            margin-bottom: 40px;
            .left_side{
                padding-top: 30px;
                padding-bottom: 40px;
                background: #fff;
                .way{
                    margin-bottom: 10px;
                    min-height: 96px;
                    padding: 0px 30px;
                    .way_l{
                        padding-left: 15px;
                        background: #ddd;
                        height: 55px;
                        font-weight: 600;
                        color: #333;
                        font-size:24px;
                        margin-bottom: 10px;
                    }
                    .way_r{
                        text-indent: 33px;
                        color: #333;
                        font-size:16px;
                    }
                }
            }
            .sidebar{
                width:235px;
                background: #f2f2f2;
                margin-left: 10px;
                .way{
                    background: #fff;
                    width:100%;
                    margin-bottom: 10px;
                    .way_l{
                        margin: 0px 15px;
                        border-bottom:1px solid #ddd;
                        height: 55px;
                        font-weight: 600;
                        color: #333;
                        font-size:20px;
                        margin-bottom: 10px;
                    }
                    .way_r{
                        line-height: 1.5;
                        padding: 0px 15px;
                        padding-bottom: 15px;
                        color: #333;
                        font-size:14px;
                    }
                    .btn{
                        margin: 0px 15px;
                        margin-bottom: 15px;
                        height: 34px;
                        border: 1px solid #ccc;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
