body{
    min-width: 1202px;
}
.wrap {
    background: #f2f2f2;
    width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    .bg{
        width:100%;
        height: 484px; 
        background: url("../../image/pic.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        margin-bottom: 34px;
        .inside{           
            max-width: 960px;
            .title{
                height: 60px;
                font-size: 60px; 
            color: #fff; 
            }
        }
    }
    .content{
        width:100%;
        padding-bottom: 80px;
        .inside{
            max-width: 1202px;
            font-size: 20px;
            color: #333;
            line-height: 30px;
            .session{       
                width: 100%;
                .title{
                    width: 100%;
                    height: 90px;
                    margin-bottom: 30px;
                    font-size: 28px;
                    font-weight: 600;
                    color: #999;
                    .session_bg{
                        background: url("../../image/index_title_368x27.png") no-repeat;
                        width:368px;
                    }
                }
                .item_list{
                    .inneritem{
                        width: 378px;
                        vertical-align: top;
                        background: #fff;
                        margin-right: 34px;
                        margin-bottom: 34px;
                        &:nth-child(3n+3){
                            margin-right: 0px;
                        }
                        .inner_img{
                            height:212px;
                        }
                        .inner_title{
                            padding: 10px 18px 0px 18px;
                            font-size: 24px;
                            color: #333;
                            min-height: 36px;
                        }
                        .inner_des{
                            line-height: 1.4;
                            min-height: 30px;
                            height:36px;
                            padding: 0px 18px 10px 18px;
                            font-size: 14px;
                            color: #999;
                        }
                        .inner_btn{
                            min-height: 30px;
                            padding: 0px 18px 10px 18px;
                            .btn{
                                font-size: 18px;
                                color: #fff;
                                cursor: pointer;
                                background: rgb(221,68,65);
                                padding: 0px 15px;
                                &:hover{
                                    background: rgb(243, 102, 99);
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .frame_contain{
        position: fixed;
        .title{
            height: 36px;
            background: #fff;
            .text{
                color: #333;
                font-size: 20px;
                font-weight: 600;
                margin: 0px 15px;
            }
            .close{
                color: #333;
                font-size: 20px;
                padding: 0px 15px;
                cursor: pointer;
            }
        }
        .frame{

            width: 100%;
            height:100%;
        }
    }

}

