<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>星汉科技 & 快娱网络</title>
    <meta name="keywords" content="星汉科技,快娱网络,游戏玩家社交平台,社交网络,微信小游戏,微信小程序">
    <meta name="description" content="星汉（广州）科技有限公司是优质游戏推荐平台及游戏分享社区。公司以“用心分享游戏”为核心理念，为游戏玩家提供优秀的游戏产品及实时的游戏资讯；为游戏爱好者提供分享互动的平台，结识更多的游戏同伴。">
    <meta name="mobile-agent" content="format=html5;url=//www.starsriver.com/">
    <link type="text/css" rel="stylesheet" href="./css/base.css" />
    <link type="text/css" rel="stylesheet" href="./css/box.css" />
    <link type="text/css" rel="stylesheet" href="./css/games/games.css" />
    <link type="text/css" rel="stylesheet" href="./css/modules/header.css" />
    <link type="text/css" rel="stylesheet" href="./css/modules/footer.css" />
    <link type="image/x-icon" href="./image/favicon.ico" rel="shortcut icon">
    <link rel="Shortcut Icon" href="./image/favicon.ico">
    <link rel="Bookmark" href="./image/favicon.ico">
    <script src="./lib/vue.min.js"></script>
    <script src="./modules/header/header.js"></script>
    <script src="./modules/footer/footer.js"></script>
</head>

<body>
    <div class="ds-box align-center orient-v wrap" id="app" v-cloak>
        <xh-header curpage="games"></xh-header>
        <section class="ds-box pack-center bg"></section>
        <section class="ds-box pack-center content">
            <div class="ds-box inside orient-v">
                <div class="ds-box orient-v session" v-for="item in content">
                    <div class="ds-box align-end pack-center title pack-center">
                        <div class="ds-box session_bg align-center pack-center">
                            <div>{{ item.title }}</div>
                        </div>
                    </div>
                    <div class="ds-box item_list">
                        <div class="ds-box orient-v inneritem" v-for="inneritem in item.list" style="display:inline-block">
                            <img :src="inneritem.image" class="inner_img"/>
                            <div class="inner_title">{{ inneritem.title }}</div>
                            <div class="inner_des">{{ inneritem.des }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <xh-footer></xh-footer>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                content: [
                    {
                        title: '动漫',
                        list: [
                            {
                                image: './image/index/index_01.png',
                                title: 'ReadyGo 动漫游戏资讯',
                                des: '海量资讯，洞悉游戏事态！'
                            },
                            {
                                image: './image/index/index_02.png',
                                title: '青之驱魔师2',
                                des: '全34集'
                            },
                            {
                                image: './image/index/index_03.png',
                                title: '灵契',
                                des: '更新至第2集'
                            }
                        ]
                    }, {
                        title: '游戏',
                        list: [
                            {
                                image: './image/index/index_04.png',
                                title: '摸猫（微信小程序）',
                                des: '请在微信小游戏搜索'
                            },
                            {
                                image: './image/index/index_05.png',
                                title: '微微三国',
                                des: ''
                            }
                        ]
                    }
                ]
            }
        })
    </script>
</body>

</html>