<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>星汉科技 & 快娱网络</title>
    <meta name="keywords" content="星汉科技,快娱网络,游戏玩家社交平台,社交网络,微信小游戏,微信小程序">
    <meta name="description" content="星汉（广州）科技有限公司是优质游戏推荐平台及游戏分享社区。公司以“用心分享游戏”为核心理念，为游戏玩家提供优秀的游戏产品及实时的游戏资讯；为游戏爱好者提供分享互动的平台，结识更多的游戏同伴。">
    <meta name="mobile-agent" content="format=html5;url=//www.starsriver.com/">
    <link type="text/css" rel="stylesheet" href="./css/base.css" />
    <link type="text/css" rel="stylesheet" href="./css/box.css" />
    <link type="text/css" rel="stylesheet" href="./css/index/index.css" />
    <link type="text/css" rel="stylesheet" href="./css/modules/header.css" />
    <link type="text/css" rel="stylesheet" href="./css/modules/footer.css" />
    <link type="image/x-icon" href="./image/favicon.ico" rel="shortcut icon">
    <link rel="Shortcut Icon" href="./image/favicon.ico">
    <link rel="Bookmark" href="./image/favicon.ico">
    <script src="./lib/vue.min.js"></script>
    <script src="./modules/header/header.js"></script>
    <script src="./modules/footer/footer.js"></script>
</head>

<body>
    <div class="ds-box align-center orient-v wrap" id="app" v-cloak>
        <xh-header curpage="index"></xh-header>
        <section class="ds-box pack-center bg"></section>
        <section class="ds-box pack-center content">
            <div class="ds-box inside orient-v">
                <div class="ds-box orient-v session" v-for="item in content">
                    <div class="ds-box align-end pack-center title pack-center">
                        <div class="ds-box session_bg align-center pack-center">
                            <div>{{ item.title }}</div>
                        </div>
                    </div>
                    <div class="ds-box item_list">
                        <div class="ds-box orient-v inneritem" v-for="inneritem in item.list" style="display:inline-block">
                            <img :src="inneritem.image" class="inner_img" />
                            <div class="inner_title">{{ inneritem.title }}</div>
                            <div class="inner_des">{{ inneritem.des }}</div>
                            <div class="ds-box inner_btn">
                                <div class="ds-box pack-center align-center btn" @click="game(inneritem,$event)">开始游戏</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <xh-footer> </xh-footer>
        <div class="frame_contain" :style="{ width: contain_width, height:contain_height, top:frame_top,right:frame_right }" v-if="show_frame">
            <div class="ds-box pack-justify title">
                <div class="ds-box pack-center align-center text">{{ cur_title }}</div>
                <div class="ds-box pack-center align-center close" @click="close">关闭</div>
            </div>
            <iframe class="frame" frameborder="0" :src="cur_frame"></iframe>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                cur_frame: '',
                cur_title: '',
                show_frame : false,
                content: [
                    {
                        title: '游戏',
                        list: [
                            {
                                image: './image/index/game_01.png',
                                title: '戳鼻孔',
                                des: '史上最无下限的游戏-戳鼻孔，戳到有什么奖励？嘿嘿嘿自行体会吧…',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/NosePokingGame/index.html'
                            },
                            {
                                image: './image/index/game_02.png',
                                title: '翻翻乐',
                                des: '想挑战自己的记忆力吗？最短时间把牌翻完你就赢啦！',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/matchinggame/index.html'
                            },
                            {
                                image: './image/index/game_03.jpg',
                                title: '找你妹',
                                des: '找茬游戏腻了吗？一起来玩找你妹！眼睛手指一起动，看你能找多少吧',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/findgame/index.html'
                            },
                            {
                                image: './image/index/game_04.png',
                                title: '迷宫',
                                des: '双人模式的迷宫逃脱游戏，快叫上你的朋友一起来玩吧！发挥你的侦探头脑，破解迷宫吧',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/mazeGame/index.html'
                            },
                            {
                                image: './image/index/game_05.jpg',
                                title: '连连看',
                                des: '满屏的果蔬哪个是你最爱呢？两个一起消除，水果就归你啦',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/llkGame/index.html'
                            },
                            {
                                image: './image/index/game_06.png',
                                title: 'Dune',
                                des: '控制小球在沙丘上滚动，飞越白线就能得分，试试看你的小球能跑多远吧',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/dune/index.html'
                            },
                            {
                                image: './image/index/game_07.png',
                                title: 'fireUp',
                                des: '小熊猫发射圆球击碎障碍物，不断强化小球，还有随机奖励，你能坚持多久呢',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/fireup/index.html'
                            },
                            {
                                image: './image/index/game_08.png',
                                title: '抢金币',
                                des: '心算能力及格吗？来抢金币试试，最快凑出金币的人',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/RobbingGold/index.html'
                            },
                            {
                                image: './image/index/game_09.png',
                                title: '吃奶酪',
                                des: '动动手指帮可爱的小老鼠吃到奶酪吧，踩错绳子颜色会把猫引来哦',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/eatcheese/index.html'
                            },
                            {
                                image: './image/index/game_10.jpg',
                                title: '五子棋',
                                des: '黑白小鸟来当棋子，五只小鸟先连成线的获胜',
                                url: 'https://hongen-http.kuaiyugo.com/h5Games/gobang/index.html'
                            }
                        ]
                    }
                ]
            },
            methods: {
                game: function (item, e) {
                    console.log('123')
                    this.show_frame = true;
                    this.cur_frame = item.url;
                    this.cur_title = item.title;
                },
                close : function(){
                    this.show_frame = false;
                    this.cur_frame = '';
                }
            },
            computed: {
                frame_top: function(){
                    return (window.innerHeight-36)*0.1 + 'px'
                },
                frame_right: function(){
                    return (window.innerWidth-(window.innerHeight-36*0.8)/16*7.5)/2 + 'px'
                },
                contain_height:function(){
                    return (window.innerHeight)*0.8 + 'px'
                },
                contain_width:function(){
                    return (window.innerHeight-36*0.8)/16*7.5 + 'px'
                }
            }
        })
    </script>
</body>

</html>